html{
  height: 100%;
}
body{
  height: 100%;
  background: linear-gradient(-45deg, darkblue, midnightblue, royalblue, navy);
  background-size: 400% 400%;
  color: white;
  font-family: sans-serif;
  animation: body_background 2s ease forwards;
}
header{
  width: 100%;
  text-align: center;
}
section{

}
footer{
  width: 100%;
  text-align: center;
}
#portal_name{
  font-size: 3em;
  animation: portal_name 2s ease 0.5s both;
}
#portal{
  text-align: center;
  animation: portal 4s ease 1s infinite both alternate;
}
.portal_link{
  font-size: 1.5em;
  text-align: center;
}
@keyframes body_background {
  from{
    opacity: 0;
    background-position: 0% 50%;
  }
  to{
    opacity: 1;
    background-position: 100% 50%
  }
}
@keyframes portal_name {
  from {

  }
  to{

  }
}
@keyframes portal {
  0% {
    transform: rotate(45deg);
  }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(90deg);
  }
}
