html{

}
body{
  background: url("../images/stars.png"), linear-gradient(#0E1050, #25257C, #505050);
  color: white;
  font-family:"Oswald", sans-serif;
  animation: body 2s ease-in-out forwards;
}
header{
  width: 100%;
  text-align: center;
}
section{

}
footer{
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
}
a:link{

}
a:visited{
  color: white;
}
a:hover{
  color: black;
}
a:active{
  color: grey;
}
h1{
  font-size: 3em;
  font-weight: 400;
  text-decoration: underline;
}
h2{
  font-size: 2em;
  font-weight: 400;
}
h3{
  font-size: 1em;
  font-weight: 400;
}
h4{
  font-size: 0.75em;
  font-weight: 400;
}
#portal_name{
  animation: portal_name 2s ease 0.5s both;
}
#portal_links{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#portal_slogan{
  width: 100%;
  text-align: center;
}
#portal_img{
  animation: portal 6s ease-in-out 1s infinite both alternate-reverse;
}
.portal_link{
  width: 25%;
  text-align: center;
}
.portal_link:nth-child(2){
  width: 40%;
}
.portal_link:nth-child(3){
  width: 40%;
}
.portal_link:nth-child(7){
  width: 40%;
}
.portal_link:nth-child(8){
  width: 40%;
}
@keyframes body {
  from{
    opacity: 0;
    background-position: 0% 0%;
  }
  to{
    opacity: 1;
    background-position: 100% 100%
  }
}
@keyframes portal_name {
  from {

  }
  to{

  }
}
@keyframes portal {
  0% {
    transform: rotate(0.25turn);
  }
  25%{
    transform: rotate(0.5turn);
  }
  50%{
    transform: rotate(0.25turn);
  }
  75%{
    transform: rotate(1turn);
  }
  100%{
    transform: rotate(2turn);
  }
}
