html{
  height: 100%;
}
body{
  height: 100%;
  background: linear-gradient(-45deg, darkblue, midnightblue, royalblue, navy);
  background-size: 400% 400%;
  color: white;
  animation: body_background 3s ease forwards;
}
header{
  width: 100%;
  text-align: center;
}
section{

}
footer{
  width: 100%;
  text-align: center;
}
.portal_link{

}
@keyframes body_background {
  from{
    background-position: 0% 50%;
  }
  to{
    background-position: 100% 50%
  }
}
